html, body {
 margin: 0;
 padding: 0;
 font-family: 'Roboto', sans-serif;
 width:100%;
}

.header {
 padding: 17px;
}

.header img {
  margin-left:-40px;
  width:50%;
   display: inline-block;
}

.header h1 {
  width:40%;
   display: inline-block;
}

.main {
 background-color: #f2f2f2 ;
 padding: 40px 0;
}

.main h1 {
  margin: 0 0 80px 0;
  padding: 20px 0;
color: #00ABA9;
 font-size: 48px;
  line-height: 60px;
   width: 50%;
}

.main h2 {
 background-color: transparent ;
 color: #999999 ;
 font-size: 20px;
 margin: -20px 0 0 0;
 padding: 20px 0;
}

.main h2 p{
  cursor: pointer;
}


.thumbnail {
 border: 0.2px;
 position: relative;
 padding: 50px;
 border-radius: 0;
 margin-bottom:48px;
}


.title,
.date {
 color: #444;
 margin: 0;
 font-size: 18px;
   font-weight: 800;
}

.date {
   color: #a3a3a3 ;
   font-size: 14px;
   font-weight: 200;
}

.createNewTopic{
  font-size:18px;
  background: #39D1B4;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  border-radius: 5px;
  padding:4px;
  margin-left:15px;
}

.createNewTopic:hover{
  background: #F65A5B ;
    transition: background 500ms;
}

.faq{
  margin-top:-22px;
  font-size:3rem;
  width:100%;
  display:none;
  min-height:270px;
}

.topic_tag{
  font-size:10px;
  background: #a3a3a3;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  border-radius: 5px;
  padding:5px;
}

.exp_tag{
  font-size:18px;
  background: #39D1B4;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  border-radius: 5px;
  padding:3px;
}
.exp_tag i{
  font-size:25px;
}

.voting {
 text-align: right;
 -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
 margin: 30px 0 -30px 20px;
}

.vote_down {
 background: #F65A5B ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
  margin: 0 -35px 0 45px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.vote_up {
 background-color: #39D1B4 ;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 15px;
   line-height: 40px;
   min-width: 40px;
   height: 40px;
   border-radius: 50%;
  margin: 0 -35px 0 45px;
   text-align: center;
   font-weight: 200;
   box-shadow: 0 2px 5px rgba(0,0,0,0.2);
   transition: background 500ms;
}

.vote_up:hover{
  color: #60A917 ;
    background: rgba(164,196,0, 0.25);
    transition: background 500ms;
}

.vote_down:hover {
 color: #F65A5B ;
   background: rgba(246, 90, 91, 0.25);
   transition: background 500ms;
}

.footer {
 text-align: center;
 margin: 80px 0 110px;
}

.footer h2 {
 font-size: 29px;
 margin-bottom: 18px;
}

.footer img {
  width:400px;
  border-radius:50%;
   margin: 0 10px;
}
