.avator{
  border: 0.2px;
  position: relative;
  padding: 5px !important;
  border-radius: 0;
  margin-right:30px;
  margin-bottom:20px;
  display:inline-block;
}
.avator_preview{
  width:50px;
}
.avator img{
  cursor:pointer;
  width:80px;
}
.new_topic input, textarea, select{
  margin-bottom: 20px;
  border: 0px solid;
  border-bottom: 2px solid black;
  width: 40%;
  font-size: 20px;
  outline: none;
  color: #606060;
  background-color:transparent;
}
.new_topic textarea{
  min-with:270px;
  min-height:160px;

}