.searchbar {
margin-bottom:30px;
margin-top:-79px;
}
.searchbar #searchbar-input {
  border: 0px solid;
  background:transparent;
  border-bottom: 2px solid black;
  width: 55%;
  font-size: 60px;
  outline: none;
  color: #606060;
  display: none;
}
.searchbar .fa-times {
  display: none;
  font-size: 3rem;
  cursor: pointer;
}
.searchbar .fa-search {
  font-size: 5rem;
  cursor: pointer;
}
.searchbar .fa-telegram-plane{
  margin-right:18px;
  font-size:5rem;
  cursor: pointer;
  display:none
}

.searchbar .fa-times:hover{
  color: #F65A5B ! important;
    background: transparent;
    transition: background 500ms;
}

.searchbar i:hover{
  /* color: #60A917 ; */
    color:#E3C800;
    background: transparent;
    transition: color 500ms;
}
